/* OVERLAY */
.issuer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(10, 10, 20, 0.7);
  backdrop-filter: blur(8px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* MODAL */
.issuer-modal {
  width: 320px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(124, 58, 237, 0.5);
  box-shadow: 0 10px 40px rgba(124, 58, 237, 0.3);

  text-align: center;
}

/* TITLE */
.issuer-modal h2 {
  background: linear-gradient(to right, #a855f7, #06b6d4);
  -webkit-background-clip: text;
  color: transparent;
}

/* TEXT */
.issuer-modal p {
  padding-top: 15px;
  color: #aaa;
  margin-bottom: 20px;
}

/* GOOGLE BUTTON */
.issuer-google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 14px;

  background: rgba(124, 58, 237, 0.15);
  border: 1px solid rgba(124, 58, 237, 0.6);

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  transition: 0.3s;
}

.issuer-google-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.3);
}

/* CANCEL */
.issuer-cancel-btn {
  margin-top: 15px;
  padding: 8px 16px;

  background: rgba(255, 255, 255, 0.08);
  color: #ccc;

  border: none;
  border-radius: 10px;
  cursor: pointer;
}