/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #a78bfa;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: white;
}