.dashboard-content {
  padding-left: 30px;
  color: white;
  min-height: 100vh;
}

/* 🔷 Header */
.header h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.header p {
  color: #aaa;
  margin-bottom: 20px;
}

.did {
  margin: 10px 0;
  color: cyan;
  font-weight: bold;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, purple, cyan);
  color: white;
  cursor: pointer;
}

/* 🔷 Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 14px;

  background: rgba(124, 58, 237, 0.08);
  border: 1px solid rgba(124, 58, 237, 0.5);
  border-radius: 16px;

  padding: 24px 20px;
  min-width: 180px;
  min-height: 100px;

  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.stat-text p {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
}

/* Value (Numbers) */
.stat-text h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 5px 5px 5px 10px;
}

/* Hover effect SAME as your buttons */
.stat-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.3);
  border: 1px solid rgba(124, 58, 237, 0.9);
}

/* Click feel */
.stat-card:active {
  transform: scale(0.97);
}

/* 🔷 Recent Table */
.recent {
  margin-top: 20px;
}

.recent h2 {
  margin-bottom: 15px;
}

/* 🔷 Table Container */

.table-container{
  border-radius:16px;
  border:1px solid rgba(124,58,237,0.4);
  backdrop-filter:blur(12px);

  max-height: 450px;
  overflow-y: auto;
  overflow-x: auto;
}

/* 🔷 Table */

.dark-table{
  width:100%;
  border-collapse:collapse;
  color:white;
  font-size:14px;
}

/* 🔷 Header */

.dark-table thead{
  background:rgba(124,58,237,0.15);
}

.dark-table th{
  padding:16px;
  text-align:left;
  font-weight:600;
  color:#e5e7eb;
  border-bottom:1px solid rgba(124,58,237,0.4);
}

/* 🔷 Rows */

.dark-table td{
  padding:15px;
}

.dark-table tbody tr{
  border-bottom:1px solid rgba(255,255,255,0.05);
  transition:all 0.25s ease;
}

.dark-table tbody tr:hover{
  background:rgba(124,58,237,0.12);
}

/* 🔷 Status */

.status-active{
  color:#7CFC9A;
  font-weight:600;
}

.status-revoked{
  color:#ff6b6b;
  font-weight:600;
}


.edit-btn {
  background: rgba(124, 58, 237, 0.2);
  border-radius: 16px;
  padding: 8px 18px;
  border: 1px solid rgba(124, 58, 237, 0.6);
  backdrop-filter: blur(10px);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Optional small glow only (no movement) */

.edit-btn:hover {
  border: 1px solid rgba(124, 58, 237, 0.9);
  box-shadow: 0 0 8px rgba(124, 58, 237, 0.4);
}

/* Click effect */

.edit-btn:active {
  transform: scale(0.96);
}

/* 🔷 Empty Data */

.no-data{
  text-align:center;
  color:#aaa;
}