/* Page */
.view-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  color: white;
}

/* Card */
.view-card {
  width: 720px;
  background: rgba(124, 58, 237, 0.08);
  border: 1px solid rgba(124, 58, 237, 0.5);
  border-radius: 18px;
  padding: 35px;
  backdrop-filter: blur(12px);
}

/* Title */
.view-title {
  font-size: 26px;
  margin-bottom: 30px;
  color: #7c3aed;
  text-align: center;
}

/* Form Layout */
.view-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 24px;
}

/* Field */
.view-group {
  display: flex;
  flex-direction: column;
}

.view-group label {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 6px;
}

/* Inputs */
.view-group input {
  width: 85%;
  padding: 11px 12px;
  border-radius: 10px;
  border: 1px solid rgba(124, 58, 237, 0.5);
  background: rgba(0,0,0,0.25);
  color: white;
  font-size: 14px;
  outline: none;
}

.view-group input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Copy Input */
.view-input-icon {
  display: flex;
  align-items: center;
  width: 93%;
  border-radius: 10px;
  border: 1px solid rgba(124, 58, 237, 0.5);
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: 40px;
}

.view-input-icon input {
  flex: 1;
  padding: 11px 12px;
  border: none;
  background: transparent;
  color: white;
  font-size: 14px;
  outline: none;
}

/* Copy Icon */
.view-icon-box {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-icon-box img {
  width: 16px;
  height: 16px;
}

/* PDF Link */
.view-pdf-link {
  padding: 10px 14px;
  border-radius: 10px;
  background: rgba(124, 58, 237, 0.15);
  border: 1px solid rgba(124, 58, 237, 0.5);
  color: #ddd;
  text-decoration: none;
  display: inline-block;
}

.view-group canvas {
  margin-top: 10px;
}

/* Loading */
.view-loading {
  padding: 40px;
  text-align: center;
  color: white;
}